﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Liz Long<br />
    Atlanta, GA<br />
    <abbr title="Phone">P:</abbr>
    123.456.7899
</address>

